In [1]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]

In [4]:
len(num_list)

10

In [5]:
num_list

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [8]:
pd = {'name': 'arjun',
     'salary': 10000,
     'age': 37,
     'city': 'Hyderabad'}

cd = {}

keys = ['name','salary']

for k in keys:
    cd.update({k: pd[k]})
    
print(cd)

{'name': 'arjun', 'salary': 10000}

In [10]:
string = 'ABC'

print(list(string))

['A', 'B', 'C']

In [12]:
def permutations(string, empty = ''):
	def toString(List): 
        return ''.join(List) 
  
    def permute(a, l, r): 
        if l==r: 
            print (toString(a))
        else: 
            for i in range(l,r): 
                a[l], a[i] = a[i], a[l] 
                permute(a, l+1, r) 
                a[l], a[i] = a[i], a[l] # backtrack 
                
    n = len(string) 
    a = list(string) 
    permute(a, 0, n)
                
permutations('ABC')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)