In [10]:
students = [
    {'name': 'A', 'marks': 50},
    {'name': 'B', 'marks': 100},
    {'name': 'C', 'marks': 40},
    {'name': 'D', 'marks': 70},
    {'name': 'E', 'marks': 60}
    ]

sorted(students, key=lambda d: d['marks'])

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'B', 'marks': 100}]

In [6]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")

0 2 4 6 8

In [7]:
len('world')

5

In [10]:
def LengthSequence(string, length):
    '''string => a string
       length => an integer representing required length of words which are be returned'''
    result = [i for i in string.split() if len(i) == length]
    return result

In [11]:
string = 'The world has changed and none of us can go back All we can do is our best and sometimes the best that we can do is to start over'
length = 5
LengthSequence(string, length)

['world', 'start']

In [12]:
def myDecorator(func):

    def new_func(n):

        return func(n) + '$'        

    return new_func


@myDecorator

def myFunction(a):

    return(a)


# call the decorated function

print(myFunction('500'))

500$

In [71]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student
    
    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    '''
    student_data = [[students[i], scores[i]] for i in range(len(students))]
    second_low_score = list(set(sorted(scores)))[1]
    second_names = [i[0] for i in student_data if i[1] == second_low_score]
    
    
    return student_data, second_low_score, second_names
            
students = ['S ROY', 'B BOSE', 'N KAR', 'C DUTTA', 'G GHOSH']
scores = [1.0, 3.0, 2.0, 1.0, 1.0]
second_lowest(students, scores)

([['S ROY', 1.0],
  ['B BOSE', 3.0],
  ['N KAR', 2.0],
  ['C DUTTA', 1.0],
  ['G GHOSH', 1.0]],
 2.0,
 ['N KAR'])

In [77]:
def sort_strings(str_list):
    for i in str_list:
        for j in range(len(i)):
            print(i, j)
            if j < len(i) - 1:
                if i[j].count('a') > i[j + 1].count('a'):
                    #str_list[i][j], str_list[i][j+1] = str_list[i][j+1], str_list[i][j]
                    [i][j], [i][j+1] = [i][j+1], [i][j]

    print(str(list))
    
str_list = [['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

sort_strings(str_list)

['banana', 'guava', 'mango'] 0

IndexError: list index out of range

In [74]:
'banana'.count('a')

3

In [87]:
str_list = [['mango', 'guava', 'banana'], ['rose', 'sandalwood'], ['bccc', 'c', 'baac', 'aaa']]
res = []
for i in str_list:
    res.append(sorted(i, key=lambda x: -x.count('a')))
    
print(res)

[['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

In [12]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n - 1)

# while fact > 1:
#     fact /= n
#     if fact > 1:
#         n += 1
a = 6
i, num = 0,1
l = []
while i < a:
    i = fact(num)
    l.append(i)
    num += 1
    if a in l:
        print(l.index(a) + 1)
    else:
        print(-1)

3

In [20]:
import math
class Solution:
    def solve(self, a):
        i,num=0,1
        L=[]
        while i < a :
            i=math.factorial(num)
            L.append(i)
            num+=1
            
        if a in L :
            return L.index(a)+1
        else :
            return -1
        
ob = Solution()
print(ob.solve(120))

5

In [34]:
def timeConv(a,b,c,d):
    # YOUR CODE GOES HERE
    # The code for taking input and printing output is already taken care of.
    # Make sure to complete the functions and return the asked requirements.
    class Spanoftime:
        def __init__(self,h,m):
            self.hours=h
            self.mins=m
        def displayTime(self):
            return ("{} hours and {} min".format(self.hours,self.mins))
        
        def addTime(t1,t2):
            t3=Spanoftime(0,0)
            # Complete the function
            m = t1.mins + t2.mins
            h = t1.hours + t2.hours + m // 60
            if m > 60:
                m = m % 60
            t3.hours = h
            t3.mins = m
            
            return t3
        
        def returnMinutes(t1,t2):
            # Return the total number of minutes
            h = t1.hours + t2.hours
            m = t1.mins + t2.mins + h * 60
            return m
            
            
    t1=Spanoftime(a,b)
    t2=Spanoftime(c,d)
    t3=Spanoftime.addTime(t1,t2)
    t3.displayTime()
    totalmin=str(Spanoftime.returnMinutes(t1,t2))
    return t3.displayTime(),("The total minutes in time t1 and t2 are: " + totalmin)

In [35]:
timeConv(1,1,1,1)

('2 hours and 2 min', 'The total minutes in time t1 and t2 are: 122')

In [41]:
class Circle():
    def __init__(self,r):
        self.r = r
        self.pi = 3.14
        
    def perimeter(self):
        return 2 * self.pi * self.r
    
    def area(self):
        return self.pi * (self.r ** 2)

In [42]:
c = Circle(3)

In [43]:
c.perimeter()

18.84

In [44]:
c.area()

28.26

In [45]:
class Rectangle():
    def __init__(self,l,b):
        self.l = l
        self.b = b
        
    def perimeter(self):
        return 2 * (self.l + self.b)
    
    def area(self):
        return self.l * self.b

In [46]:
r = Rectangle(2,3)

In [47]:
r.perimeter()

10

In [48]:
r.area()

6

In [53]:
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        for i in self.string:
            if i in ['a','e','i','o','u']:
                ans += 1
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
        for i in self.string:
            if i in ['a','e','i','o','u']:
                ans += 1
        print(ans)

def vowelCount(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [54]:
vowelCount('mallik')

The type of Name is larger
2

In [57]:
class Parent():
    def __init__(self):
        pass
    def print(self):
        print('60')
        
class Child(Parent):
    def __init__(self):
        super().__init__()
    def type(self):
        super().print()
        
C = Child()
C.type()

60

In [58]:
class A:
    def __init__(self):
        self.multiply(15)
        print(self.i)

    def multiply(self, i):
        self.i = 4 * i

class B(A):
    def __init__(self):
        super().__init__()

    def multiply(self, i):
        self.i = 2 * i;

obj = B()

30

In [65]:
class MachineLearning:
    def __init__(self,name,category):
        self.name=name
        self.category=category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name,category)
        self.name = name
        self.category = category
    
    def type(self):
        #YOUR CODE GOES HERE
        self.print()
        print('Supervised Learning Algorithm')

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name,category)
        self.name = name
        self.category = category
    
    def type(self):
        #YOUR CODE GOES HERE
        self.print()
        print('Unsupervised Learning Algorithm')

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

In [66]:
mlAnalogy('Logistic Regression','Classification Algo','k-Means','Clustering Algo')

Name: Logistic Regression
Category: Classification Algo
Supervised Learning Algorithm
Name: k-Means
Category: Clustering Algo
Unsupervised Learning Algorithm

In [67]:
class AI:
    def check(self):
        return "AI's check"
    def display(self):
        print(self.check(),end=" ")

class ML(AI):
    def check(self):
        return "ML's check"

AI().display()
ML().display()

AI's check ML's check

In [69]:
class Employee:

    def __init__(self, name, val):

        self._name=name

        self._salary=val

e1=Employee("Rahul",200)

print(e1._salary)

200

In [71]:
class A:

  def __init__(self, x, y):

    self.x = x
    self.y = y

  def __str__(self):

    return 1
  def __eq__(self, other):

    return self.x * self.y == other.x * other.y

obj1 = A(9, 8)
obj2 = A(8, 9)
print(obj1 == obj2)

True

In [72]:
class A:
 def __init__(self, name, sound="Grrrr"):
   self.name = name
   self.sound = sound

 def make_noise(self):
   print("{} says, {}".format(self.name,self.sound))

class B(A):
 def __init__(self, name="Rachel"):
   super().__init__(name, "Meow!")

 def make_noise(self,sound="Grrrr!"):
   print("{} says, {}".format(self.name, sound))

pet_cat = B()
pet_cat.make_noise()

Rachel says, Grrrr!

In [73]:
class Props:
    def __init__(self, x, y):
        self.x = x
        self.y = y

class Ball(Props):
    def __init__(self, x, y):
        super().__init__(x, y)
        self.shape = "o"
        self.number = 1
        self.vely = 0
        self.velx = 0

    def get_x(self):
        return self.x
 
    def get_y(self):
       return self.y

    def get_velx(self):
       return self.velx
 
    def get_vely(self):
       return self.vely
    
    def inc_velx(self):
       self.velx = self.velx+2
    
    def inc_vely(self):
       self.vely = self.vely+1

obj_ball = Ball(27,3)

bx = obj_ball.get_x()
by = obj_ball.get_y()
b_velx = obj_ball.get_velx()
b_vely = obj_ball.get_vely()

print(bx, by, b_velx, b_vely)

27 3 0 0

In [5]:
arr = ['php', 'w3r', 'python', 'aaa', 'java']
result = list( filter( lambda x: (x =="".join( reversed(x))), arr))
print(result)

['php', 'aaa']

In [6]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names,row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [7]:
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4

In [8]:
list('abc')

['a', 'b', 'c']

In [9]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [10]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

In [11]:
array  = [1, 2, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)
print(list(result))

[]

In [12]:
res = list(filter(lambda x:x<0, array))

In [13]:
print(res)

[]

In [16]:
def check(emails):
    '''
    input:
    emails -> list of emails to check
    
    output:
    verified_lex -> the verified list of emails, in lexicographical order
    '''    
    # Your code starts here
    def validate(email):
        user = email.split('@')[0]
        if '@' in email and email.count('@') == 1 and len(user) <= 20:
            return email
        
    verified_lex = list(filter(validate, emails))
    # Your code ends here
    return sorted(verified_lex)

emails = ['brian-23@scaler.com', 'brute_54@scaler.com', 'sara@scaler.com']
check(emails)

['brian-23@scaler.com', 'brute_54@scaler.com', 'sara@scaler.com']

In [17]:
a=[1,[2,3],4,5]

result = list(map(lambda x:x*2, a))
print(result)

[2, [2, 3, 2, 3], 8, 10]

In [18]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : name.lower() in x or name.upper() in x , ids))
print(result)

['samJohnson@iit.com', 'SAM@harvard.com']

In [19]:
word = 'abcdedcba'
word == word[::-1]

True

In [72]:
def nearestStudents(names,loc):
    d = {}
#    for i in range(len(names)-1, -1, -1):
    for i in range(len(names)):
        p1 = names[i]
        l1 = loc[i]
        for j in range(i+1,len(names)):
            p2 = names[j]
            l2 = loc[j]
            d[(p1, p2)] = abs(l1[0]-l2[0]) + abs(l1[1]-l2[1])
    # s = list(set(d.values()))
    # l = []
    
    # print(list(sorted(d.items(), key=lambda x:x[1])[0][0]))
    print(list(sorted(d, key=lambda x:x[1])[0]))
    
#     for i in d.items():
#         if i[1] == s[0]:
#             l.append(list(i[0]))
	

#     return l[0]

names = ['Adam','Millie','Jacob','Michael','Maxine']
loc = [(1,2),(5,4),(0,3),(2,3),(0,0)]

nearestStudents(names,loc)

['Adam', 'Jacob']

In [56]:
d = {('Michael', 'Adam'): 2,
 ('Michael', 'Jacob'): 2,
 ('Jacob', 'Adam'): 2,
 ('Maxine', 'Adam'): 3,
 ('Maxine', 'Jacob'): 3,
 ('Michael', 'Millie'): 4,
 ('Maxine', 'Michael'): 5,
 ('Jacob', 'Millie'): 6,
 ('Millie', 'Adam'): 6,
 ('Maxine', 'Millie'): 9}
s = list(set(d.values()))

In [69]:
def nearestStudents(names,loc):
    min_distance = 100000
    pair = None
    for i in range(len(names)):
        for j in range(i + 1, len(names)):
            distance = abs(loc[i][0] - loc[j][0]) + abs(loc[i][1] - loc[j][1])
            #print(names[i], names[j])
            if distance < min_distance:
                pair = [names[i], names[j]]
                min_distance = distance
            print(pair, min_distance)
    return pair

names = ['Adam','Millie','Jacob','Michael','Maxine']
loc = [(1,2),(5,4),(0,3),(2,3),(0,0)]

nearestStudents(names,loc)

['Adam', 'Millie'] 6
['Adam', 'Jacob'] 2
['Adam', 'Jacob'] 2
['Adam', 'Jacob'] 2
['Adam', 'Jacob'] 2
['Adam', 'Jacob'] 2
['Adam', 'Jacob'] 2
['Adam', 'Jacob'] 2
['Adam', 'Jacob'] 2
['Adam', 'Jacob'] 2

['Adam', 'Jacob']

In [2]:
24 % 13

11

In [3]:
25 % 24

1

In [4]:
(25 ** 50) % 24

1

In [5]:
(11 ** 91) + (10 ** 91) - (9 ** 2)

58453248730331016423376362220113545242612980425266212714921832216993762011119642250537592395330

In [15]:
with open("fh.txt",'r') as f:
    count = 0
    numCount = 0
    data = f.read()
    words = data.split()
    for word in words:
        count += 1
        if (word.isnumeric() == True):
            print(word)
            numCount += 1
            
f.close()
        
print(count, numCount)

123
4
214 2

In [14]:
f = None 
for i in range (5): 
    with open("data.txt", "w") as f: 
        if i > 2: 
            break 
print(f.closed)

True

In [19]:
f = open("fh.txt",'rb')

In [20]:
f.read()

b'In word processing and desktop publishing, a hard return or paragraph break indicates a new paragraph, to be distinguished from the soft return at the end of a line internal to a paragraph 123\nThis distinction allows word wrap to automatical4ly re-flow text as it is edited, without losing paragraph breaks.\nThe software may apply vertic3al white space or indenting at paragraph 4 breaks, depending on the selected style. \nHow such documents are actually stored depends on the file format. \nFor example, HTML uses the <p> tag as a paragraph container. \nIn plaintext files, there are two common formats. \nThe pre-formatted text will have a newline at the end of every physical line, and two newlines at the end of a paragraph, creating a blank line. \nAn alternative is to only put newlines at the end of each paragraph, and leave word wrapping up to the application that displays or processes the text.\nA line break that is inserted manually, and preserved when re-flowing, may still be distinct from a paragraph break, although this is typically not done in prose. \nHTML\'s <br /> tag produces a line break without ending the paragraph; the W3C recommends using it only to separate lines of verse (where each "paragraph" is a stanza), or in a street address.[5]'

try:
  print(x)
except NameError:                       #1
  print("Variable x is not defined")
except:                                 #2
  print("Something else went wrong")

print(a)