In [1]:
import pandas as pd

In [2]:
df_wh = pd.read_csv("weight-height.csv")

In [4]:
df_wh.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [8]:
len(df_wh[df_wh["Height"] <= 70])/len(df_wh)

0.8122

In [9]:
df_odi = pd.read_csv("Sachin_ODI.csv")

In [10]:
df_odi.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [14]:
at_least_3_fours = len(df_odi[df_odi['fours'] >= 3])/len(df_odi)
at_least_3_fours

0.5777777777777777

In [15]:
at_most_2_fours = len(df_odi[df_odi['fours'] <= 2])/len(df_odi)
at_most_2_fours

0.4222222222222222