In [1]:
d = {}

In [2]:
d['A'] = 1

In [13]:
d

{'A': 5, 'B': 2, 'C': 1}

In [6]:
d['A'] += 1

In [14]:
i = 'C'
if i not in d:
    d[i] = 1
else:
    d[i] += 1
    ans = False

In [15]:
ans

False

In [37]:
A = input()
B = input()
l1 = A.split()
l2 = list(map(int, B.split()))

d1 = dict(zip(l1,l2))

# d1 = {}
# for i in range(len(l1)):
#     d1[l1[i]] = l2[i]
    
print(d1)

 x y z
 10 20 30

{'x': 10, 'y': 20, 'z': 30}

In [20]:
sum(d1.values())

60

In [22]:
d1.update({'a': 1})

In [28]:
10 in d1

False

In [27]:
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name':'smit', 'salary': 6500}
}

print(freshers['student3'])
freshers['student3']['salary'] = 8500
print(freshers['student3'])

{'name': 'smit', 'salary': 6500}
{'name': 'smit', 'salary': 8500}

In [25]:
freshers

{'student1': {'name': 'yash', 'salary': 7500},
 'student2': {'name': 'heet', 'salary': 8000},
 'student3': {'name': 'smit', 'salary': 8500}}

In [29]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']

if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

This is not a member of the dictionary

In [34]:
for i in d1:
    print(i, d1[i], sep=': ')

x: 10
y: 20
z: 30
a: 1

In [41]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'c': 4, 'd': 5, 'e': 6}
dict3 = {}

for i in dict1:
    if i in dict2:
        dict3[i] = dict1[i] + dict2[i]
        
print(dict3)

{'c': 7}

In [43]:
abc = {}
abc[1] = 1
abc['1'] = 2
abc[1] = abc[1] + 1
print(abc)

{1: 2, '1': 2}